* {
	font-family: 'Inter', sans-serif;
}


.topic {
margin-top:8%;
}

.rodape-margins {
	margin-right:4rem;
	margin-left:4rem;
}

/*
Cards e relacionados
*/
.card-academia {
	background-color: #d9d9d9;
	font-size: 1rem;
	font-weight: 200;
	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.card-academia p {
	margin: 0;
}


/* Fontes */
.card-sub-titulo {
  font-size: 1rem;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.card-titulo {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}




