*, html {
	font-family: 'Inter', sans-serif;
	text-decoration: none !important;
	margin: 0;
	padding: 0;
	border: none;
}


/* NavBar - Inicio */
nav {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.151);
	background-color: #FCFCFC;
	
}
.nav-bar-custom {
	padding: 24px 24px 0px 24px;
	display: flex;
	justify-content: space-between;
}

.nav-bar-custom .logo{
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 1px;
}

.nav-bar-custom .navigator li {
	align-items: center;
	display: inline;
	margin: 16px;
	text-decoration: none;
	letter-spacing: 1px;
}

.nav-bar-custom .navigator li a{
	color: rgba(0, 0, 0, 0.664);
	
}

.nav-bar-custom .navigator li a:hover{
	color: black
	
}


.nav-bar-custom .button-menu {
	display: flex;
	justify-content: space-around;
	width: 90px;
	height: 45px;
	border: 1px solid rgba(0, 0, 0, 0.137);
	border-radius: 50px;
	background-color: white;
}

.nav-bar-custom .button-menu .img-menu {
	padding: 12px;
}

.nav-bar-custom .button-menu .img-icone {
	padding: 6px;
}

.nav-bar-search {
	display: flex;
	justify-content: center;
	padding-bottom: 24px;
}

.nav-bar-search .input-wrapper {
	border: none;
}

.input-wrapper {
	position: relative;
	display: inline-block;
}

.input-wrapper input {
	border-radius: 16px;
	border: 1px solid rgba(0, 0, 0, 0.137);
	height: 40px;
	
	padding: 15px;
}

.input-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none;
	color: #aaa;
}

.input-with-icon {
	outline: none;
}





/* NavBar - Fim */

/* Body - Inicio */

.card-anuncio {
	width: 100%;
}

.card-anuncio h4{
	font-weight: bold;
	font-size: 1rem;
}

.card-anuncio .card-texto{
	font-size: 0.7rem;
	line-height: 0.5rem;
}


.avaliacao {
	width: 20px;
	height: 20px;
	background-color: #EF4646;
	margin-right: 3px;
	font-size: 0.9rem;
	color: #FCFCFC;
	border-radius: 8px 8px 8px 0px;
	padding: 4px;
}




/* Body - Fim */

/* Footer - Inicio */
.footer {
	background-color: #f5f3f3;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.233);
}

.rodape {
	justify-content: space-around;
}
/* Footer - Fim */
.topic {
margin-top:8%;
}

.rodape-margins {
	margin-right:4rem;
	margin-left:4rem;
}


@media (max-width: 570px) {
	.card-anuncio {
		width: 90%;
	}
}











